.font{
    font-family: 'Raleway',sans-serif;
    font-size:12px;
}

.card-wrapper{
    padding:130px 0px;
}

.banner-img{
    background:url('../../assets/img/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 100vh;
    height:100vh;
    flex:1;
}

.card-container{
    flex:1;
}

.theme-color{
    color: #cc3743;
}

.span-text{
    font-size: 14px;
    cursor: pointer;
    &:hover{
        color: lightgray;
    }
}